In [2]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
spark = SparkSession.builder.master('local').appName('operDataFrames').enableHiveSupport().getOrCreate()
sc=spark.sparkContext

In [3]:
orders = spark.read.csv('data//retail_db//orders.csv',header=True,inferSchema=True)
order_items = spark.read.csv('data//retail_db//order_items.csv',header=True,inferSchema=True)
customers = spark.read.csv('data//retail_db//customers.csv',header=True,inferSchema=True)
products = spark.read.csv('data//retail_db//products.csv',header=True,inferSchema=True)

# Built-in functions

### Most of the functions are from pyspark.sql.functions and also dataframe built-in functions

In [9]:
import pyspark.sql.functions as F
help(F)

Help on module pyspark.sql.functions in pyspark.sql:

NAME
    pyspark.sql.functions - A collections of builtin functions

CLASSES
    builtins.object
        builtins.str
        PandasUDFType

    class PandasUDFType(builtins.object)
     |  Pandas UDF Types. See :meth:`pyspark.sql.functions.pandas_udf`.
     |
     |  Data descriptors defined here:
     |
     |  __dict__
     |      dictionary for instance variables (if defined)
     |
     |  __weakref__
     |      list of weak references to the object (if defined)
     |
     |  ----------------------------------------------------------------------
     |  Data and other attributes defined here:
     |
     |  GROUPED_AGG = 202
     |
     |  GROUPED_MAP = 201
     |
     |  SCALAR = 200

    basestring = class str(object)
     |  str(object='') -> str
     |  str(bytes_or_buffer[, encoding[, errors]]) -> str
     |
     |  Create a new string object from the given object. If encoding or
     |  errors is specified, then the object must expose a data buffer
     |  that will be decoded using the given encoding and error handler.
     |  Otherwise, returns the result of object.__str__() (if defined)
     |  or repr(object).
     |  encoding defaults to sys.getdefaultencoding().
     |  errors defaults to 'strict'.
     |
     |  Methods defined here:
     |
     |  __add__(self, value, /)
     |      Return self+value.
     |
     |  __contains__(self, key, /)
     |      Return key in self.
     |
     |  __eq__(self, value, /)
     |      Return self==value.
     |
     |  __format__(...)
     |      S.__format__(format_spec) -> str
     |
     |      Return a formatted version of S as described by format_spec.
     |
     |  __ge__(self, value, /)
     |      Return self>=value.
     |
     |  __getattribute__(self, name, /)
     |      Return getattr(self, name).
     |
     |  __getitem__(self, key, /)
     |      Return self[key].
     |
     |  __getnewargs__(...)
     |
     |  __gt__(self, value, /)
     |      Return self>value.
     |
     |  __hash__(self, /)
     |      Return hash(self).
     |
     |  __iter__(self, /)
     |      Implement iter(self).
     |
     |  __le__(self, value, /)
     |      Return self<=value.
     |
     |  __len__(self, /)
     |      Return len(self).
     |
     |  __lt__(self, value, /)
     |      Return self<value.
     |
     |  __mod__(self, value, /)
     |      Return self%value.
     |
     |  __mul__(self, value, /)
     |      Return self*value.
     |
     |  __ne__(self, value, /)
     |      Return self!=value.
     |
     |  __new__(*args, **kwargs) from builtins.type
     |      Create and return a new object.  See help(type) for accurate signature.
     |
     |  __repr__(self, /)
     |      Return repr(self).
     |
     |  __rmod__(self, value, /)
     |      Return value%self.
     |
     |  __rmul__(self, value, /)
     |      Return value*self.
     |
     |  __sizeof__(...)
     |      S.__sizeof__() -> size of S in memory, in bytes
     |
     |  __str__(self, /)
     |      Return str(self).
     |
     |  capitalize(...)
     |      S.capitalize() -> str
     |
     |      Return a capitalized version of S, i.e. make the first character
     |      have upper case and the rest lower case.
     |
     |  casefold(...)
     |      S.casefold() -> str
     |
     |      Return a version of S suitable for caseless comparisons.
     |
     |  center(...)
     |      S.center(width[, fillchar]) -> str
     |
     |      Return S centered in a string of length width. Padding is
     |      done using the specified fill character (default is a space)
     |
     |  count(...)
     |      S.count(sub[, start[, end]]) -> int
     |
     |      Return the number of non-overlapping occurrences of substring sub in
     |      string S[start:end].  Optional arguments start and end are
     |      interpreted as in slice notation.
     |
     |  encode(...)
     |      S.encode(encoding='utf-8', errors='strict') -> bytes
     |
     |      Encode S using the codec registered for encoding. Default encoding
     |      is 'utf-8'. errors may be given to set a different error
     |      handling scheme. Default is 'strict' meaning that encoding errors raise
     |      a UnicodeEncodeError. Other possible values are 'ignore', 'replace' and
     |      'xmlcharrefreplace' as well as any other name registered with
     |      codecs.register_error that can handle UnicodeEncodeErrors.
     |
     |  endswith(...)
     |      S.endswith(suffix[, start[, end]]) -> bool
     |
     |      Return True if S ends with the specified suffix, False otherwise.
     |      With optional start, test S beginning at that position.
     |      With optional end, stop comparing S at that position.
     |      suffix can also be a tuple of strings to try.
     |
     |  expandtabs(...)
     |      S.expandtabs(tabsize=8) -> str
     |
     |      Return a copy of S where all tab characters are expanded using spaces.
     |      If tabsize is not given, a tab size of 8 characters is assumed.
     |
     |  find(...)
     |      S.find(sub[, start[, end]]) -> int
     |
     |      Return the lowest index in S where substring sub is found,
     |      such that sub is contained within S[start:end].  Optional
     |      arguments start and end are interpreted as in slice notation.
     |
     |      Return -1 on failure.
     |
     |  format(...)
     |      S.format(*args, **kwargs) -> str
     |
     |      Return a formatted version of S, using substitutions from args and kwargs.
     |      The substitutions are identified by braces ('{' and '}').
     |
     |  format_map(...)
     |      S.format_map(mapping) -> str
     |
     |      Return a formatted version of S, using substitutions from mapping.
     |      The substitutions are identified by braces ('{' and '}').
     |
     |  index(...)
     |      S.index(sub[, start[, end]]) -> int
     |
     |      Return the lowest index in S where substring sub is found,
     |      such that sub is contained within S[start:end].  Optional
     |      arguments start and end are interpreted as in slice notation.
     |
     |      Raises ValueError when the substring is not found.
     |
     |  isalnum(...)
     |      S.isalnum() -> bool
     |
     |      Return True if all characters in S are alphanumeric
     |      and there is at least one character in S, False otherwise.
     |
     |  isalpha(...)
     |      S.isalpha() -> bool
     |
     |      Return True if all characters in S are alphabetic
     |      and there is at least one character in S, False otherwise.
     |
     |  isdecimal(...)
     |      S.isdecimal() -> bool
     |
     |      Return True if there are only decimal characters in S,
     |      False otherwise.
     |
     |  isdigit(...)
     |      S.isdigit() -> bool
     |
     |      Return True if all characters in S are digits
     |      and there is at least one character in S, False otherwise.
     |
     |  isidentifier(...)
     |      S.isidentifier() -> bool
     |
     |      Return True if S is a valid identifier according
     |      to the language definition.
     |
     |      Use keyword.iskeyword() to test for reserved identifiers
     |      such as "def" and "class".
     |
     |  islower(...)
     |      S.islower() -> bool
     |
     |      Return True if all cased characters in S are lowercase and there is
     |      at least one cased character in S, False otherwise.
     |
     |  isnumeric(...)
     |      S.isnumeric() -> bool
     |
     |      Return True if there are only numeric characters in S,
     |      False otherwise.
     |
     |  isprintable(...)
     |      S.isprintable() -> bool
     |
     |      Return True if all characters in S are considered
     |      printable in repr() or S is empty, False otherwise.
     |
     |  isspace(...)
     |      S.isspace() -> bool
     |
     |      Return True if all characters in S are whitespace
     |      and there is at least one character in S, False otherwise.
     |
     |  istitle(...)
     |      S.istitle() -> bool
     |
     |      Return True if S is a titlecased string and there is at least one
     |      character in S, i.e. upper- and titlecase characters may only
     |      follow uncased characters and lowercase characters only cased ones.
     |      Return False otherwise.
     |
     |  isupper(...)
     |      S.isupper() -> bool
     |
     |      Return True if all cased characters in S are uppercase and there is
     |      at least one cased character in S, False otherwise.
     |
     |  join(...)
     |      S.join(iterable) -> str
     |
     |      Return a string which is the concatenation of the strings in the
     |      iterable.  The separator between elements is S.
     |
     |  ljust(...)
     |      S.ljust(width[, fillchar]) -> str
     |
     |      Return S left-justified in a Unicode string of length width. Padding is
     |      done using the specified fill character (default is a space).
     |
     |  lower(...)
     |      S.lower() -> str
     |
     |      Return a copy of the string S converted to lowercase.
     |
     |  lstrip(...)
     |      S.lstrip([chars]) -> str
     |
     |      Return a copy of the string S with leading whitespace removed.
     |      If chars is given and not None, remove characters in chars instead.
     |
     |  partition(...)
     |      S.partition(sep) -> (head, sep, tail)
     |
     |      Search for the separator sep in S, and return the part before it,
     |      the separator itself, and the part after it.  If the separator is not
     |      found, return S and two empty strings.
     |
     |  replace(...)
     |      S.replace(old, new[, count]) -> str
     |
     |      Return a copy of S with all occurrences of substring
     |      old replaced by new.  If the optional argument count is
     |      given, only the first count occurrences are replaced.
     |
     |  rfind(...)
     |      S.rfind(sub[, start[, end]]) -> int
     |
     |      Return the highest index in S where substring sub is found,
     |      such that sub is contained within S[start:end].  Optional
     |      arguments start and end are interpreted as in slice notation.
     |
     |      Return -1 on failure.
     |
     |  rindex(...)
     |      S.rindex(sub[, start[, end]]) -> int
     |
     |      Return the highest index in S where substring sub is found,
     |      such that sub is contained within S[start:end].  Optional
     |      arguments start and end are interpreted as in slice notation.
     |
     |      Raises ValueError when the substring is not found.
     |
     |  rjust(...)
     |      S.rjust(width[, fillchar]) -> str
     |
     |      Return S right-justified in a string of length width. Padding is
     |      done using the specified fill character (default is a space).
     |
     |  rpartition(...)
     |      S.rpartition(sep) -> (head, sep, tail)
     |
     |      Search for the separator sep in S, starting at the end of S, and return
     |      the part before it, the separator itself, and the part after it.  If the
     |      separator is not found, return two empty strings and S.
     |
     |  rsplit(...)
     |      S.rsplit(sep=None, maxsplit=-1) -> list of strings
     |
     |      Return a list of the words in S, using sep as the
     |      delimiter string, starting at the end of the string and
     |      working to the front.  If maxsplit is given, at most maxsplit
     |      splits are done. If sep is not specified, any whitespace string
     |      is a separator.
     |
     |  rstrip(...)
     |      S.rstrip([chars]) -> str
     |
     |      Return a copy of the string S with trailing whitespace removed.
     |      If chars is given and not None, remove characters in chars instead.
     |
     |  split(...)
     |      S.split(sep=None, maxsplit=-1) -> list of strings
     |
     |      Return a list of the words in S, using sep as the
     |      delimiter string.  If maxsplit is given, at most maxsplit
     |      splits are done. If sep is not specified or is None, any
     |      whitespace string is a separator and empty strings are
     |      removed from the result.
     |
     |  splitlines(...)
     |      S.splitlines([keepends]) -> list of strings
     |
     |      Return a list of the lines in S, breaking at line boundaries.
     |      Line breaks are not included in the resulting list unless keepends
     |      is given and true.
     |
     |  startswith(...)
     |      S.startswith(prefix[, start[, end]]) -> bool
     |
     |      Return True if S starts with the specified prefix, False otherwise.
     |      With optional start, test S beginning at that position.
     |      With optional end, stop comparing S at that position.
     |      prefix can also be a tuple of strings to try.
     |
     |  strip(...)
     |      S.strip([chars]) -> str
     |
     |      Return a copy of the string S with leading and trailing
     |      whitespace removed.
     |      If chars is given and not None, remove characters in chars instead.
     |
     |  swapcase(...)
     |      S.swapcase() -> str
     |
     |      Return a copy of S with uppercase characters converted to lowercase
     |      and vice versa.
     |
     |  title(...)
     |      S.title() -> str
     |
     |      Return a titlecased version of S, i.e. words start with title case
     |      characters, all remaining cased characters have lower case.
     |
     |  translate(...)
     |      S.translate(table) -> str
     |
     |      Return a copy of the string S in which each character has been mapped
     |      through the given translation table. The table must implement
     |      lookup/indexing via __getitem__, for instance a dictionary or list,
     |      mapping Unicode ordinals to Unicode ordinals, strings, or None. If
     |      this operation raises LookupError, the character is left untouched.
     |      Characters mapped to None are deleted.
     |
     |  upper(...)
     |      S.upper() -> str
     |
     |      Return a copy of S converted to uppercase.
     |
     |  zfill(...)
     |      S.zfill(width) -> str
     |
     |      Pad a numeric string S with zeros on the left, to fill a field
     |      of the specified width. The string S is never truncated.
     |
     |  ----------------------------------------------------------------------
     |  Static methods defined here:
     |
     |  maketrans(x, y=None, z=None, /)
     |      Return a translation table usable for str.translate().
     |
     |      If there is only one argument, it must be a dictionary mapping Unicode
     |      ordinals (integers) or characters to Unicode ordinals, strings or None.
     |      Character keys will be then converted to ordinals.
     |      If there are two arguments, they must be strings of equal length, and
     |      in the resulting dictionary, each character in x will be mapped to the
     |      character at the same position in y. If there is a third argument, it
     |      must be a string, whose characters will be mapped to None in the result.

FUNCTIONS
    abs(col)
        Computes the absolute value.

        .. versionadded:: 1.3

    acos(col)
        :return: inverse cosine of `col`, as if computed by `java.lang.Math.acos()`

        .. versionadded:: 1.4

    add_months(start, months)
        Returns the date that is `months` months after `start`

        >>> df = spark.createDataFrame([('2015-04-08',)], ['dt'])
        >>> df.select(add_months(df.dt, 1).alias('next_month')).collect()
        [Row(next_month=datetime.date(2015, 5, 8))]

        .. versionadded:: 1.5

    approxCountDistinct(col, rsd=None)
        .. note:: Deprecated in 2.1, use :func:`approx_count_distinct` instead.

        .. versionadded:: 1.3

    approx_count_distinct(col, rsd=None)
        Aggregate function: returns a new :class:`Column` for approximate distinct count of
        column `col`.

        :param rsd: maximum estimation error allowed (default = 0.05). For rsd < 0.01, it is more
            efficient to use :func:`countDistinct`

        >>> df.agg(approx_count_distinct(df.age).alias('distinct_ages')).collect()
        [Row(distinct_ages=2)]

        .. versionadded:: 2.1

    array(*cols)
        Creates a new array column.

        :param cols: list of column names (string) or list of :class:`Column` expressions that have
            the same data type.

        >>> df.select(array('age', 'age').alias("arr")).collect()
        [Row(arr=[2, 2]), Row(arr=[5, 5])]
        >>> df.select(array([df.age, df.age]).alias("arr")).collect()
        [Row(arr=[2, 2]), Row(arr=[5, 5])]

        .. versionadded:: 1.4

    array_contains(col, value)
        Collection function: returns null if the array is null, true if the array contains the
        given value, and false otherwise.

        :param col: name of column containing array
        :param value: value to check for in array

        >>> df = spark.createDataFrame([(["a", "b", "c"],), ([],)], ['data'])
        >>> df.select(array_contains(df.data, "a")).collect()
        [Row(array_contains(data, a)=True), Row(array_contains(data, a)=False)]

        .. versionadded:: 1.5

    array_distinct(col)
        Collection function: removes duplicate values from the array.
        :param col: name of column or expression

        >>> df = spark.createDataFrame([([1, 2, 3, 2],), ([4, 5, 5, 4],)], ['data'])
        >>> df.select(array_distinct(df.data)).collect()
        [Row(array_distinct(data)=[1, 2, 3]), Row(array_distinct(data)=[4, 5])]

        .. versionadded:: 2.4

    array_except(col1, col2)
        Collection function: returns an array of the elements in col1 but not in col2,
        without duplicates.

        :param col1: name of column containing array
        :param col2: name of column containing array

        >>> from pyspark.sql import Row
        >>> df = spark.createDataFrame([Row(c1=["b", "a", "c"], c2=["c", "d", "a", "f"])])
        >>> df.select(array_except(df.c1, df.c2)).collect()
        [Row(array_except(c1, c2)=['b'])]

        .. versionadded:: 2.4

    array_intersect(col1, col2)
        Collection function: returns an array of the elements in the intersection of col1 and col2,
        without duplicates.

        :param col1: name of column containing array
        :param col2: name of column containing array

        >>> from pyspark.sql import Row
        >>> df = spark.createDataFrame([Row(c1=["b", "a", "c"], c2=["c", "d", "a", "f"])])
        >>> df.select(array_intersect(df.c1, df.c2)).collect()
        [Row(array_intersect(c1, c2)=['a', 'c'])]

        .. versionadded:: 2.4

    array_join(col, delimiter, null_replacement=None)
        Concatenates the elements of `column` using the `delimiter`. Null values are replaced with
        `null_replacement` if set, otherwise they are ignored.

        >>> df = spark.createDataFrame([(["a", "b", "c"],), (["a", None],)], ['data'])
        >>> df.select(array_join(df.data, ",").alias("joined")).collect()
        [Row(joined='a,b,c'), Row(joined='a')]
        >>> df.select(array_join(df.data, ",", "NULL").alias("joined")).collect()
        [Row(joined='a,b,c'), Row(joined='a,NULL')]

        .. versionadded:: 2.4

    array_max(col)
        Collection function: returns the maximum value of the array.

        :param col: name of column or expression

        >>> df = spark.createDataFrame([([2, 1, 3],), ([None, 10, -1],)], ['data'])
        >>> df.select(array_max(df.data).alias('max')).collect()
        [Row(max=3), Row(max=10)]

        .. versionadded:: 2.4

    array_min(col)
        Collection function: returns the minimum value of the array.

        :param col: name of column or expression

        >>> df = spark.createDataFrame([([2, 1, 3],), ([None, 10, -1],)], ['data'])

### Better use full notation when mentioning the column names

# substring

In [7]:
orders.select(substring('order_date',1,7).alias('Month'), substring('order_date',9,2).alias('day')).show(5)

+-------+---+
|  Month|day|
+-------+---+
|2013-07| 25|
|2013-07| 25|
|2013-07| 25|
|2013-07| 25|
|2013-07| 25|
+-------+---+
only showing top 5 rows

In [10]:
orders.select(orders.order_date.substr(1,7).alias('Month'), orders.order_date.substr(9,2).alias('Day')).show(5)

+-------+---+
|  Month|Day|
+-------+---+
|2013-07| 25|
|2013-07| 25|
|2013-07| 25|
|2013-07| 25|
|2013-07| 25|
+-------+---+
only showing top 5 rows

## substring_index

In [12]:
orders.select(substring_index('order_date','-',2)).show(5)

+---------------------------------+
|substring_index(order_date, -, 2)|
+---------------------------------+
|                          2013-07|
|                          2013-07|
|                          2013-07|
|                          2013-07|
|                          2013-07|
+---------------------------------+
only showing top 5 rows

## instr

In [15]:
orders.select(instr('order_date','07')).show(5)

+---------------------+
|instr(order_date, 07)|
+---------------------+
|                    6|
|                    6|
|                    6|
|                    6|
|                    6|
+---------------------+
only showing top 5 rows

## split

In [13]:
orders.select(split('order_date','-')[0].alias('year')).show(5)

+----+
|year|
+----+
|2013|
|2013|
|2013|
|2013|
|2013|
+----+
only showing top 5 rows

## concat

In [14]:
orders.select(concat('order_status',lit(','),'order_id')).show(5)

+---------------------------------+
|concat(order_status, ,, order_id)|
+---------------------------------+
|                         CLOSED,1|
|                PENDING_PAYMENT,2|
|                       COMPLETE,3|
|                         CLOSED,4|
|                       COMPLETE,5|
+---------------------------------+
only showing top 5 rows

## concat_ws() 
### is very important for concatenating the columns with field delimiter

In [18]:
orders.select(concat_ws('!','order_status','order_id','order_customer_id')).show(5)

+-------------------------------------------------------+
|concat_ws(!, order_status, order_id, order_customer_id)|
+-------------------------------------------------------+
|                                         CLOSED!1!11599|
|                                   PENDING_PAYMENT!2...|
|                                       COMPLETE!3!12111|
|                                          CLOSED!4!8827|
|                                       COMPLETE!5!11318|
+-------------------------------------------------------+
only showing top 5 rows

## reverse

In [20]:
orders.select(reverse('order_status')).show(5)

+---------------------+
|reverse(order_status)|
+---------------------+
|               DESOLC|
|      TNEMYAP_GNIDNEP|
|             ETELPMOC|
|               DESOLC|
|             ETELPMOC|
+---------------------+
only showing top 5 rows

## length

In [21]:
orders.select(length('order_id')).show(5)

+----------------+
|length(order_id)|
+----------------+
|               1|
|               1|
|               1|
|               1|
|               1|
+----------------+
only showing top 5 rows

# when

In [22]:
orders.select('order_id',when(orders.order_id % 2 == 0, 'EVEN').otherwise('ODD')).show(5)

+--------+-----------------------------------------------------+
|order_id|CASE WHEN ((order_id % 2) = 0) THEN EVEN ELSE ODD END|
+--------+-----------------------------------------------------+
|       1|                                                  ODD|
|       2|                                                 EVEN|
|       3|                                                  ODD|
|       4|                                                 EVEN|
|       5|                                                  ODD|
+--------+-----------------------------------------------------+
only showing top 5 rows

# repeat

In [23]:
orders.select(repeat('order_id',10)).show(5)

+--------------------+
|repeat(order_id, 10)|
+--------------------+
|          1111111111|
|          2222222222|
|          3333333333|
|          4444444444|
|          5555555555|
+--------------------+
only showing top 5 rows

## rpad

In [24]:
orders.select(rpad('order_id',15,'*')).show(5)

+---------------------+
|rpad(order_id, 15, *)|
+---------------------+
|      1**************|
|      2**************|
|      3**************|
|      4**************|
|      5**************|
+---------------------+
only showing top 5 rows

## lpad

In [26]:
orders.select(lpad('order_id',15,'*')).show(5)

+---------------------+
|lpad(order_id, 15, *)|
+---------------------+
|      **************1|
|      **************2|
|      **************3|
|      **************4|
|      **************5|
+---------------------+
only showing top 5 rows

## lower

In [27]:
orders.select(lower(orders.order_status)).show(5)

+-------------------+
|lower(order_status)|
+-------------------+
|             closed|
|    pending_payment|
|           complete|
|             closed|
|           complete|
+-------------------+
only showing top 5 rows

## upper

In [28]:
orders.select(upper(orders.order_status)).show(5)

+-------------------+
|upper(order_status)|
+-------------------+
|             CLOSED|
|    PENDING_PAYMENT|
|           COMPLETE|
|             CLOSED|
|           COMPLETE|
+-------------------+
only showing top 5 rows

## initcap

In [29]:
orders.select(initcap('order_status')).show(5)

+---------------------+
|initcap(order_status)|
+---------------------+
|               Closed|
|      Pending_payment|
|             Complete|
|               Closed|
|             Complete|
+---------------------+
only showing top 5 rows

## lit

In [31]:
orders.select(lit(0),lit('Anything')).show(5)

+---+--------+
|  0|Anything|
+---+--------+
|  0|Anything|
|  0|Anything|
|  0|Anything|
|  0|Anything|
|  0|Anything|
+---+--------+
only showing top 5 rows

## like

In [33]:
orders.filter(orders.order_id.like('44%')).show(5)

+--------+-------------------+-----------------+---------------+
|order_id|         order_date|order_customer_id|   order_status|
+--------+-------------------+-----------------+---------------+
|      44|2013-07-25 00:00:00|            10500|        PENDING|
|     440|2013-07-27 00:00:00|             7290|       COMPLETE|
|     441|2013-07-27 00:00:00|             5239|PENDING_PAYMENT|
|     442|2013-07-27 00:00:00|             8098|       COMPLETE|
|     443|2013-07-27 00:00:00|             8499|         CLOSED|
+--------+-------------------+-----------------+---------------+
only showing top 5 rows

In [39]:
orders.filter(orders.order_id.like('%44')).show(5)

+--------+-------------------+-----------------+---------------+
|order_id|         order_date|order_customer_id|   order_status|
+--------+-------------------+-----------------+---------------+
|      44|2013-07-25 00:00:00|            10500|        PENDING|
|     144|2013-07-26 00:00:00|             2158|     PROCESSING|
|     244|2013-07-26 00:00:00|             6910|PENDING_PAYMENT|
|     344|2013-07-26 00:00:00|             2816|        PENDING|
|     444|2013-07-27 00:00:00|            10004|       COMPLETE|
+--------+-------------------+-----------------+---------------+
only showing top 5 rows

In [40]:
orders.filter(orders.order_id.like('____4')).show(5)

+--------+-------------------+-----------------+---------------+
|order_id|         order_date|order_customer_id|   order_status|
+--------+-------------------+-----------------+---------------+
|   10004|2013-09-25 00:00:00|             7768|         CLOSED|
|   10014|2013-09-25 00:00:00|            10864|SUSPECTED_FRAUD|
|   10024|2013-09-25 00:00:00|             9678|PENDING_PAYMENT|
|   10034|2013-09-25 00:00:00|             4554|         CLOSED|
|   10044|2013-09-25 00:00:00|             2333|        PENDING|
+--------+-------------------+-----------------+---------------+
only showing top 5 rows

## contains

In [35]:
orders.filter(orders.order_id.contains('444')).show(5)

+--------+-------------------+-----------------+------------+
|order_id|         order_date|order_customer_id|order_status|
+--------+-------------------+-----------------+------------+
|     444|2013-07-27 00:00:00|            10004|    COMPLETE|
|    1444|2013-08-01 00:00:00|             8302|    COMPLETE|
|    2444|2013-08-07 00:00:00|             9714|  PROCESSING|
|    3444|2013-08-14 00:00:00|             8549|    COMPLETE|
|    4440|2013-08-20 00:00:00|             5434|    COMPLETE|
+--------+-------------------+-----------------+------------+
only showing top 5 rows

## endswith

In [37]:
orders.filter(orders.order_id.endswith('444')).show(5)

+--------+-------------------+-----------------+------------+
|order_id|         order_date|order_customer_id|order_status|
+--------+-------------------+-----------------+------------+
|     444|2013-07-27 00:00:00|            10004|    COMPLETE|
|    1444|2013-08-01 00:00:00|             8302|    COMPLETE|
|    2444|2013-08-07 00:00:00|             9714|  PROCESSING|
|    3444|2013-08-14 00:00:00|             8549|    COMPLETE|
|    4444|2013-08-20 00:00:00|            11386|    COMPLETE|
+--------+-------------------+-----------------+------------+
only showing top 5 rows

## startswith

In [38]:
orders.filter(orders.order_id.startswith('444')).show(5)

+--------+-------------------+-----------------+------------+
|order_id|         order_date|order_customer_id|order_status|
+--------+-------------------+-----------------+------------+
|     444|2013-07-27 00:00:00|            10004|    COMPLETE|
|    4440|2013-08-20 00:00:00|             5434|    COMPLETE|
|    4441|2013-08-20 00:00:00|            10735|      CLOSED|
|    4442|2013-08-20 00:00:00|             6820|  PROCESSING|
|    4443|2013-08-20 00:00:00|             3817|     ON_HOLD|
+--------+-------------------+-----------------+------------+
only showing top 5 rows

## isNotNull

In [41]:
orders.filter(orders.order_id.isNotNull()).show(5)

+--------+-------------------+-----------------+---------------+
|order_id|         order_date|order_customer_id|   order_status|
+--------+-------------------+-----------------+---------------+
|       1|2013-07-25 00:00:00|            11599|         CLOSED|
|       2|2013-07-25 00:00:00|              256|PENDING_PAYMENT|
|       3|2013-07-25 00:00:00|            12111|       COMPLETE|
|       4|2013-07-25 00:00:00|             8827|         CLOSED|
|       5|2013-07-25 00:00:00|            11318|       COMPLETE|
+--------+-------------------+-----------------+---------------+
only showing top 5 rows

## isNull

In [42]:
orders.filter(orders.order_id.isNull()).show(5)

+--------+----------+-----------------+------------+
|order_id|order_date|order_customer_id|order_status|
+--------+----------+-----------------+------------+
+--------+----------+-----------------+------------+

## isin

In [43]:
orders.filter(orders.order_id.isin('1','2','3333',798)).show(5)

+--------+-------------------+-----------------+---------------+
|order_id|         order_date|order_customer_id|   order_status|
+--------+-------------------+-----------------+---------------+
|       1|2013-07-25 00:00:00|            11599|         CLOSED|
|       2|2013-07-25 00:00:00|              256|PENDING_PAYMENT|
|     798|2013-07-29 00:00:00|             8709|       COMPLETE|
|    3333|2013-08-12 00:00:00|            10717|         CLOSED|
+--------+-------------------+-----------------+---------------+